div {
  border: 1px solid black;
}

#a {
  padding: 7.1%;
  max-height: 75px;
}

#b {
  padding: 14.3%;
  max-height: 150px;
}

#c, #d {
  padding: 11.9%;
  max-height: 125px;
}

.half {
  padding: 23.8%;
  max-height: 250px;
}

#i {
  float: left;
  width: 100%;
  padding: 7.5%;
  max-height: 80px;
}